<div class="row col-xs-12 center">
	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" data-toggle="modal" data-target="#adminModal">
	  Añadir Administrador
	</button>
	<br>
	<br>
	<span id="checkBadge" class="material-icons mdl-badge hidden" data-badge="+1">check_circle</span>
	<br>
  <div class="tableDiv">
  	<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  	  <thead>
  	    <tr>
  	      <th class="mdl-data-table__cell--non-numeric">ID</th>
  	      <th>Nombre</th>
  	      <th>Correo</th>
          <th>Activo</th>
          <th>Editar</th>
  	      <th>Eliminar</th>
  	    </tr>
  	  </thead>
  	  <tbody>
        <% var modalId = 0;
        _.each(models, function(i) {%>
  		    <tr>
  		      <td class="mdl-data-table__cell--non-numeric"><%=i.attributes._id%></td>
  		      <td><%=i.attributes.name%></td>
            <td><%=i.attributes.mail%></td>
            <td><input type="checkbox" <%if(i.attributes.active){%>checked<%};%> disabled> </input></td>
            <td>
            <span type="button" class="edit" value=<%=modalId%> data-toggle="modal" data-target=<%='#'+modalId+"modal"%>><a class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="right" title="Editar" data-original-title="Editar"></a> </span>
            </td>
  		      <td><li type="button" class="delete" id=<%=i.attributes._id+"Delete"%>><a class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="right" title="Eliminar" data-original-title="Eliminar"></a></li></td>
  		    </tr>
  		  <%modalId++;});%>
  	  </tbody>
  	</table>
  </div>
</div>


<div class="modal fade" id="adminModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeModal">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Añadir Administrador</h4>
      </div>
      <div class="modal-body">
        <div class="row">       
          <div class="col-xs-5 col-sm-5">            
            <label>Identificador</label>
          </div> 
          <div class="col-xs-4 col-sm-4">
            <input type="text" class="adminId" maxlength="40"></input> 
          </div>
          <br>
          <br>
        </div>
        <div class="row">       
          <div class="col-xs-5 col-sm-5">            
            <label>Nombre</label>
          </div> 
          <div class="col-xs-4 col-sm-4">
            <input type="text" class="adminName" maxlength="80"></input> 
          </div>
          <br>
          <br>
        </div>
        <div class="row">       
          <div class="col-xs-5 col-sm-5">            
            <label>Correo</label>
          </div> 
          <div class="col-xs-6 col-sm-6">
            <input type="text" class="adminMail" maxlength="80"></input> 
          </div>
          <br>
          <br>
        </div>
        <div class="row">       
          <div class="col-xs-5 col-sm-5">            
            <label>Contraseña</label>
          </div> 
          <div class="col-xs-6 col-sm-6">
            <input type="password" class="adminPass" maxlength="80"></input> 
          </div>
          <br>
          <br>
        </div>
        <div class="row">       
          <div class="col-xs-5 col-sm-5">            
            <label>Activo</label>
          </div> 
          <div class="col-xs-4 col-sm-4">
            <input type="checkbox" class="adminActive" value=true></input>
          </div>
          <br>
          <br>
        </div>
      </div>  
      <div class="modal-footer">        
        <button type="button" class="btn btn-default closeModal" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary saveAdmin" id="buttonFile">Agregar</button>
      </div>
    </div>
  </div>
</div>

<% var modalID = 0;
_.each(models, function(i) {%>
  <div class="modal fade" id=<%=modalID+"modal"%> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeModal">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Editar Administrador</h4>
        </div>
        <div class="modal-body">
          <div class="row">       
            <div class="col-xs-5 col-sm-5">            
              <label>Identificador</label>
            </div> 
            <div class="col-xs-4 col-sm-4">
              <input type="text" class=<%=modalID + "adminNewId"%> maxlength="80" value="<%=i.attributes._id%>"></input> 
            </div>
            <br>
            <br>
          </div>
          <div class="row">       
            <div class="col-xs-5 col-sm-5">            
              <label>Nombre</label>
            </div> 
            <div class="col-xs-4 col-sm-4">
              <input type="text" class=<%=modalID + "adminName"%> maxlength="80" value="<%=i.attributes.name%>"></input> 
            </div>
            <br>
            <br>
          </div>
          <div class="row">       
            <div class="col-xs-5 col-sm-5">            
              <label>Correo</label>
            </div> 
            <div class="col-xs-4 col-sm-4">
              <input type="text" class=<%=modalID + "adminMail"%> maxlength="80" value="<%=i.attributes.mail%>"></input> 
            </div>
            <br>
            <br>
          </div>
          <div class="row">       
            <div class="col-xs-5 col-sm-5">            
              <label>Activo</label>
            </div> 
            <div class="col-xs-4 col-sm-4">
              <input type="checkbox" class=<%=modalID + "adminActive"%> <%if(i.attributes.active){%>checked<%};%>> </input> 
            </div>
            <br>
            <br>
          </div>
        </div>  
        <div class="modal-footer">        
          <button type="button" class="btn btn-default closeModal" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary saveEdit" value=<%=modalID%> id=<%=i.attributes._id%>>Editar</button>
        </div>
      </div>
    </div>
  </div>
<%modalID++;});%> 

<script type="text/javascript">
  // When the document is ready
  $(document).ready(function () {
      
    $( ".glyphicon-plus" ).tooltip();

    $( ".glyphicon-pencil" ).tooltip();

    $( ".glyphicon-remove" ).tooltip();
  
  });
</script>