<div class="row col-xs-12 center">
	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" data-toggle="modal" data-target="#typeModal">
	  Añadir Dispositivo
	</button>
	<br>
	<br>
	<span id="checkBadge" class="material-icons mdl-badge hidden" data-badge="+1">check_circle</span>
	<br>
  <div class="tableDiv">
  	<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  	  <thead>
  	    <tr>
  	      <th class="mdl-data-table__cell--non-numeric">ID</th>
  	      <th>Tipo</th>
          <th>Familia</th>
  	      <th>Modelo</th>
  	      <th>Descripción</th>
          <th>Ubicación</th>
  	      <th>Editar</th>
  	      <th>Eliminar</th>
  	    </tr>
  	  </thead>
  	  <tbody>
        <% var modalId = 0;
        _.each(devices, function(i) {%>
  		    <tr>
  		      <td class="mdl-data-table__cell--non-numeric"><%=i.attributes.ID%></td>
  		      <td><%=types[i.attributes.type]%></td>
            <td><%=families[i.attributes.family]%></td>
  		      <td><%=models[i.attributes.model]%></td>
            <td><%=i.attributes.description%></td>
            <td><%=i.attributes.location%></td>
  		      <td>
  	    		<span type="button" class="edit" value=<%=modalId%> data-toggle="modal" data-target=<%='#'+modalId%>><a class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="right" title="Editar" data-original-title="Editar"></a> </span>
  	    	  </td>
  	          <td><li type="button" class="delete" id=<%=i.attributes._id+"Delete"%>><a class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="right" title="Eliminar" data-original-title="Eliminar"></a></li></td>
  		    </tr>
  		  <%modalId++;});%>
  	  </tbody>
  	</table>
  </div>
</div>


<div class="modal fade" id="typeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeModal">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Añadir Dispositivo</h4>
      </div>
      <div class="modal-body">
        <div class="row">       
          <div class="col-xs-5 col-sm-5">            
            <label>Identificador</label>
          </div> 
          <div class="col-xs-4 col-sm-4">
            <input type="text" class="deviceId" maxlength="40"></input> 
          </div>
          <br>
          <br>
        </div>
        <div class="row">       
          <div class="col-xs-5 col-sm-5">            
            <label>Tipo</label>
          </div> 
          <div class="col-xs-4 col-sm-4">
            <select class="deviceType">
              <% _.each(types, function(i, keys) {%>
                <option value=<%=keys%>><%=i%></option>
              <%});%>
            </select>
          </div>
          <br>
          <br>
        </div>
        <div class="row">       
          <div class="col-xs-5 col-sm-5">            
            <label>Familia</label>
          </div> 
          <div class="col-xs-4 col-sm-4">
            <select class="deviceFamily" disabled>
              <option value=false>Seleccione un Tipo de Recurso</option>
            </select>
          </div>
          <br>
          <br>
        </div>
        <div class="row">       
          <div class="col-xs-5 col-sm-5">            
            <label>Modelo</label>
          </div> 
          <div class="col-xs-4 col-sm-4">
            <select class="deviceModel" disabled>
              <option value=false>Seleccione un Tipo de Familia</option>
            </select>
          </div>
          <br>
          <br>
        </div>
        <div class="row">       
          <div class="col-xs-5 col-sm-5">            
            <label>Descripción</label>
          </div> 
          <div class="col-xs-6 col-sm-6">
            <input type="text" class="deviceDescription" maxlength="80"></input> 
          </div>
          <br>
          <br>
        </div>
        <div class="row">       
          <div class="col-xs-5 col-sm-5">            
            <label>Ubicación</label>
          </div> 
          <div class="col-xs-6 col-sm-6">
            <input type="text" class="deviceLocation" maxlength="50"></input> 
          </div>
          <br>
          <br>
        </div>
      </div>  
      <div class="modal-footer">        
        <button type="button" class="btn btn-default closeModal" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary saveDevice" id="buttonFile">Agregar</button>
      </div>
    </div>
  </div>
</div>

<% var modalID = 0;
_.each(devices, function(i) {%>
  <div class="modal fade" id=<%=modalID%> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeModal">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Añadir Dispositivo</h4>
        </div>
        <div class="modal-body">
          <div class="row">       
            <div class="col-xs-5 col-sm-5">            
              <label>Identificador</label>
            </div> 
            <div class="col-xs-4 col-sm-4">
              <input type="text" class=<%=modalID + "deviceId"%> maxlength="40" value="<%=i.attributes.ID%>"></input> 
            </div>
            <br>
            <br>
          </div>
          <div class="row">       
            <div class="col-xs-5 col-sm-5">            
              <label>Tipo</label>
            </div> 
            <div class="col-xs-4 col-sm-4">
              <select class=<%=modalID + "deviceType"%> >
                <% _.each(types, function(element, keys) {%>
                  <option value=<%=keys%> <%if(parseInt(i.attributes.type) === parseInt(keys)){%>selected<%}else{}%>><%=element%></option>
                <%});%>
              </select>
            </div>
            <br>
            <br>
          </div>
          <div class="row">       
            <div class="col-xs-5 col-sm-5">            
              <label>Familia</label>
            </div> 
            <div class="col-xs-4 col-sm-4">
              <select class=<%=modalID + "deviceType"%> >
                <% _.each(families, function(element, keys) {%>
                  <option value=<%=keys%> <%if(i.attributes.family === keys){%>selected<%}else{}%>><%=element%></option>
                <%});%>
              </select>
            </div>
            <br>
            <br>
          </div>
          <div class="row">       
            <div class="col-xs-5 col-sm-5">            
              <label>Modelo</label>
            </div> 
            <div class="col-xs-4 col-sm-4">
              <select class=<%=modalID + "deviceModel"%> >
                <% _.each(models, function(element, keys) {%>
                  <option value=<%=keys%> <%if(i.attributes.model === keys){%>selected<%}else{}%>><%=element%></option>
                <%});%>
              </select>
            </div>
            <br>
            <br>
          </div>
          <div class="row">       
            <div class="col-xs-5 col-sm-5">            
              <label>Descripción</label>
            </div> 
            <div class="col-xs-6 col-sm-6">
              <input type="text" class=<%=modalID + "deviceDescription"%> maxlength="80" value="<%=i.attributes.description%>"></input> 
            </div>
            <br>
            <br>
          </div>
          <div class="row">       
            <div class="col-xs-5 col-sm-5">            
              <label>Ubicación</label>
            </div> 
            <div class="col-xs-6 col-sm-6">
              <input type="text" class=<%=modalID + "deviceLocation"%> maxlength="50" value="<%=i.attributes.location%>"></input> 
            </div>
            <br>
            <br>
          </div>
        </div>  
        <div class="modal-footer">        
          <button type="button" class="btn btn-default closeModal" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary saveEdit" value=<%=modalID%> id=<%=i.attributes._id%>>Editar</button>
        </div>
      </div>
    </div>
  </div>
<%modalID++;});%> 

<script type="text/javascript">
  // When the document is ready
  $(document).ready(function () {
      
    $( ".glyphicon-plus" ).tooltip();

    $( ".glyphicon-pencil" ).tooltip();

    $( ".glyphicon-remove" ).tooltip();
  
  });
</script>