<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Abrir Menú</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="#home" class="navbar-brand">Gestión de Recursos</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav nav-pills" style="float:right;">
      <li class="dropdown">
        <a id="drop1" role="button" class="navbar-group-item navbar-group-item-admin dropdown-toggle" data-toggle="dropdown"> Administrar Recursos <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
          <li role="presentation"><a href="#types">Tipos</a></li>
          <li role="presentation"><a href="#families">Familias</a></li>
          <li role="presentation"><a href="#models">Modelos</a></li>
          <li role="presentation"><a href="#devices">Dispositivos</a></li>
        </ul>
      </li>   
      <li class="dropdown">
        <a id="drop1" role="button" class="navbar-group-item navbar-group-item-admin dropdown-toggle" data-toggle="dropdown"> Insertar Mediciones <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
          <li role="presentation"><a href="#metrics">Medidas Variables</a></li>
          <li role="presentation"><a href="#carsmetrics">Medidas Automóviles</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a id="drop1" role="button" class="navbar-group-item navbar-group-item-admin dropdown-toggle" data-toggle="dropdown"> Administrar Usuarios <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
          <li role="presentation"><a href="#admins">Administradores</a></li>
          <li role="presentation"><a href="#drivers">Conductores</a></li>
        </ul>
      </li>
      <li><a class="navbar-group-item logout"> Salir </a></li>
    </ul>
  </div><!-- /.nav-collapse -->
</div><!-- /.container -->